:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #212121;
  position: relative;
}

app-headline {
  position: absolute;
  top: 0;
}

app-button {
  position: absolute;
  bottom: 5rem;
}


div.generated-pokemon-container {

  width: calc(4 * 64px + 40px);
  height: calc(4 * 64px + 40px);
  display: flex;
  flex-wrap: wrap;

  & > img {
    width: 64px;
    height: 64px;

    margin: 5px;
  }
}