:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  width: 100%;
  background-color: #212121;
  position: relative;
}

div.images {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.pokemon-container {
  width: 300px;
  margin: 5rem;
}

img {
  margin: 0.3rem;
  transition: 300ms;
  -webkit-filter: drop-shadow(2px 2px 3px black);
  filter: drop-shadow(2px 2px 3px black);
}

img:hover {
  transform: translateY(-10px);
  -webkit-filter: drop-shadow(10px 10px 10px black);
  filter: drop-shadow(10px 10px 10px black);
}

.col {
  padding: 0;
}

app-button {
  position: absolute;
  bottom: 5rem;
}
