<app-headline>Results</app-headline>

<div class="images">
    
        <div class="pokemon-container pokemon-left">
            <ng-container *ngFor="let i of gallery_indizes">
                <img *ngIf="i <= 16" src="/assets/images/pokemon/pokemon-{{i}}.png" alt="">
            </ng-container>
        </div>
        <div class="pokemon-container pokemon-right">
            <ng-container *ngFor="let i of gallery_indizes">
                <img *ngIf="i > 16" src="/assets/images/pokemon/pokemon-{{i}}.png" alt="">
            </ng-container>
        </div>
</div>

