<app-headline>Best Results</app-headline>

<div class="images">
    <img src="/assets/images/image_at_epoch_121.png" alt="">
    <img src="/assets/images/image_at_epoch_129.png" alt="">
    <img src="/assets/images/image_at_epoch_136.png" alt="">
    <img src="/assets/images/image_at_epoch_121.png" alt="">
</div>
<div class="images">
    <img src="/assets/images/image_at_epoch_121.png" alt="">
    <img src="/assets/images/image_at_epoch_129.png" alt="">
    <img src="/assets/images/image_at_epoch_136.png" alt="">
    <img src="/assets/images/image_at_epoch_121.png" alt="">
</div>

<app-button type='gallery'>Show more Results</app-button>